
.hero-1-h1-buy {
    color: white;
    font-size: 60px;
    font-family: var(--title-font);
}
.navigation-buy {
    margin-top: 6%;
    height:10%;
    width: 100%;
    justify-content:center;
    align-items: flex-end;
    display: flex;  
    color:var(--blue-bg-color); 
}
.navigation-buy > ul {
    margin: 0;
    padding: 0;
    height: 10%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.navigation-buy ul li a {
    padding: 10px;
    text-decoration: none;
}

.h2 {
    color: var(--blue-bg-color);
    font-family: var(--title-font);
    margin-bottom: 2rem;
}

h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: var(--green-bg-color);
    position: absolute;
    margin: 1rem auto;
}

.grid-container {
    padding: 60px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-1 {
    grid-column: 1 / 2;
    font-family: var(--regular-font);
    font-size: 16px;
    margin-right: 50px;
}

.grid-pic {
    grid-column: 2 / 3;
    width: 100%;
    height: auto;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
.flex-column2 {
    width: 50%;
    padding: 60px;
    font-family: var(--regular-font);
}

.flex-column1 {
    width: 50%;
    padding: 60px;
}
  
.flex-pic {
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

.section3 {
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    padding: 20px;
    align-items: center;
    background-color: var(--second-bg-color);
    font-family: var(--regular-font);
}

.help {
    margin: 50px;
    padding: 10px;
    height: auto;
    width: 30%;
}


.h3 {
    color:var(--green-bg-color);
    margin: 10px;
}

.section3a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}

.back-to-top {
    margin-top:0%;
    background-color: var(--second-bg-color);
}

.footer {
    margin:0%;
}