@media screen and ( max-width: 960px )  {
    #wrapper {
        min-width: 768px;
        max-width: 960px;
        justify-content: center;
    }
    
    .hero-1 {
        background-size: cover;
        height: fit-content;
    }

    .hero-1-h1-buy {
        text-align: center;
    }

    .grid-container {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        margin: 5px;
    }

    .flex-column2 {
        padding: 20px;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    .flex-column1 {
        display:none;
    }
    .help {
        width: 300px;
        margin: 15px;
    }
} 

@media screen and ( max-width: 768px )  {
    #wrapper {
        max-width: 768px;
        justify-content: center;
    }

    .navigation-buy {
        display:none;
    }
 
    .hero-1 {
        background-size: cover;
        height: fit-content;
    }

    .hero-1-h1-buy {
        text-align: center;
    }

    .hero-1-section {
        display: flex;
        flex-direction: column;
    }
    
    .grid-1 {
        grid-column: 1 / 6;
        margin-right: 5px;
    }

    .grid-pic {
        grid-column: 1 / 6;
    }
    
    .flex-row {
        flex-direction: column;
        width: 100%;
        padding: 2px;
    }

    .flex-column2 {
        width: 100%;
        padding: 20px;
    }

    .flex-column1 {
        display:none;
    }

    .section3 {
        flex-direction: row;
    }

    .help {
        width: 100%;
    }
}