* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body {
    width: 100%;
    
}

#wrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.header {
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    width: 100%;
    /*  */

}

.logga {
    align-self: flex-start;
    margin: 1% 0% 0% 4%;
    
}

.navigation {
    margin-top: 6%;
    height:10%;
    width: 100%;
    justify-content:center;
    align-items: flex-end;
    display: flex;
    /*  */
    
}


.navigation > ul {
    margin: 0;
    padding: 0;
    height:10%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content:flex-end; 
    
    
}

li {
    width: 20%;
    align-items: center;
/*     
 */    justify-content: center;
    display: flex;

}

 li > a {
    font-size: 20px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: var(--regular-font), sans-serif;
    /* color: white; */
    font-weight: bold;
    align-self: center;
    color: var(--blue-bg-color);
    

}

.navigation ul li a {
    padding: 10px;
    text-decoration: none;
}

.a-hover {
    display: inline-block;
    position: relative;
    color: var(--blue-bg-color);
  }
  
  .a-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--green-bg-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .a-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



 .hero-1 {
    background-image: linear-gradient(rgba(41, 40, 40, 0.5), rgba(27, 27, 27, 0.5)), url(../main-images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-top:0px;
    width:100%;
    height: 100%;
    border: 1px solid var(--main-bg-color);
}

/* new code */
.hero-contact {
    background-image: linear-gradient(rgba(41, 40, 40, 0.5), rgba(27, 27, 27, 0.5)), url(../main-images/hero-contact.jpg);
}
/* end */

.logga-outline-section {
  background-image: url(../main-images/logga-outline.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  height: 100px;
  width: 300px;
}

.hero-1-section {
    display: grid;
    place-items: center;
    place-content: center;
    height: 100%;
}

.hero-1-h1 {
    color: var(--main-bg-color);
    font-size: 60px;
    /* font-family: Tahoma, Geneva, Verdana, sans-serif; */
    font-family: var(--title-font);
}

.footer {
    margin-top: 8%;
    padding: 3%;
    min-height: 100px;
    background-color: var(--blue-bg-color);
    width: 100%;
    color: var(--main-bg-color);
    align-self: center;
}


/* new code */
.footer__top {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    margin-bottom: 5rem;
}

.footer__nav {
    margin: 0;
    height: auto;
}

.footer__nav li {
    width: auto;
}

.footer__nav a {
    color: var(--main-bg-color);
}

.footer__nav a:hover {
    color: #dddddd;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.social {
    display: flex;
    gap: 1.5rem;
    align-self: flex-end;
    padding-bottom: 12px;
}

.social li {
    width: auto;
}

.social__icon {
    width: 2rem;
    height: 2rem;
}

.copyright {
    text-align: center;
    font-size: 1rem;
    color: #dddddd;
}


/* media */

@media screen and ( max-width: 1200px )  {
    
}

@media screen and ( max-width: 960px )  {

    .header .navigation {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .footer__top {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .footer__top .logga {
        margin: 0;
    }
    
}

@media screen and ( max-width: 768px )  {
    
    .footer__top {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .logga img {
        margin: 0 auto;
    }

    .social {
        justify-content: center;
    }
    
}
/* end */