* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body {
    width: 100%;
}

#wrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.header {
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    width: 100%;
}

.logga {
    align-self: flex-start;
    margin: 1% 0% 0% 4%;
}

.navigation {
    margin-top: 6%;
    height:10%;
    width: 100%;
    justify-content:center;
    align-items: flex-end;
    display: flex;   
}

.navigation > ul {
    margin: 0;
    padding: 0;
    height: 10%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

li {
    width: 24%;
    align-items: center;
    justify-content: center;
    display: flex;
}

li > a {
    font-size: 20px;
    font-family: var(--regular-font);
    font-weight: bold;
    align-self: center;
    color: var(--blue-bg-color);
}

.navigation ul li a {
    padding: 10px;
    text-decoration: none;
}

.a-hover {
    display: inline-block;
    position: relative;
    color: var(--blue-bg-color);
  }
  
.a-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--green-bg-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.a-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero-1 {
    background-image: linear-gradient(rgba(41, 40, 40, 0.5), rgba(27, 27, 27, 0.5)), url(../main-images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-top:0px;
    width:100%;
    height: 100%;
    border: 1px solid var(--main-bg-color);
}

.hero-contact {
    background-image: linear-gradient(rgba(41, 40, 40, 0.5), rgba(27, 27, 27, 0.5)), url(../main-images/hero-contact.jpg);
}

.logga-outline-section {
  background-image: url(../main-images/logga-outline.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  height: 100px;
  width: 300px;
}

.hero-1-section {
    display: grid;
    place-items: center;
    place-content: center;
    height: 100%;
}

.hero-1-h1 {
    color: var(--main-bg-color);
    font-size: 60px;
    font-family: var(--title-font);
}

.button-section,
.main-section-buttons {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: var(--green-bg-color);
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--regular-font);
    margin: 6% 2%;
    cursor: pointer;
    gap: 10%;
    border: solid 1px transparent;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
} 

.button:hover {
    background-color: var(--main-bg-color);
    color: var(--green-bg-color);
    border: solid 1px var(--green-bg-color);
}

.back-to-top {
    margin-top: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
   
}

.back-to-top-a {
    align-self: flex-end;
    color: var(--green-bg-color);
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    font-family: var(--regular-font);
}

.footer {
    margin-top: 8%;
    min-height: 100px;
    background-color: var(--blue-bg-color);
    width: 100%;
    color: var(--main-bg-color);
    align-self: center;
    font-family: var(--regular-font);
}

.footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.footer__top .logga {
    margin: 0;
    align-self: center;
}

.footer__top .logga img {
    margin: 0;
    max-width: 250px;
    width: 100%;
}

.footer__nav {
    margin: 0;
    height: auto;
    padding-bottom: 4rem;
}

.footer__nav ul {
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.footer__list li {
    width: auto;
}

.footer__list a {
    color: var(--main-bg-color);
    font-weight: 400;
}

.footer__list a:hover {
    color: #dddddd;
}

.social {
    display: flex;
    gap: 1.5rem;
}

.social li {
    width: auto;
}

.social__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.copyright {
    display: block;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #dddddd;
}


@media screen and ( max-width: 960px )  {

    .header .navigation {
        display: none;
    }

    .header {
        justify-content: center;
    }
 
    .footer__nav ul {
        gap: 3rem;
    }

    .footer__list a {
        font-size: 1.1rem;
    }
    
}

@media screen and ( max-width: 768px )  {

    .footer__nav ul {
        flex-direction: column;
    }
    
    .footer__nav ul {
        gap: 1rem;
    }
    
}