* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
    
}


#wrapper {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.header {
    justify-content: flex-start;
    align-self: flex-start;
    display: flex;
    width: 100%;
    /*  */

}

.logga {
    align-self: flex-start;
    margin: 1% 0% 0% 4%;
    
}

.navigation {
    margin-top: 6%;
    height:10%;
    width: 100%;
    justify-content:center;
    align-items: flex-end;
    display: flex;
    /*  */
    
}


.navigation > ul {
    margin: 0;
    padding: 0;
    height:10%;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content:flex-end; 
    
    
}

li {
    width: 20%;
    align-items: center;
/*     
 */    justify-content: center;
    display: flex;

}

 li > a {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: white; */
    font-weight: bold;
    align-self: center;
    color:#102e4e;
    

}

.navigation ul li a {
    padding: 10px;
    text-decoration: none;
}

.a-hover {
    display: inline-block;
    position: relative;
    color: #102e4e;
  }
  
  .a-hover::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #2E533A;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .a-hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



 .hero-1 {
    background-image: linear-gradient(rgba(41, 40, 40, 0.5), rgba(27, 27, 27, 0.5)), url(../main-images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-top:0px;
    width:100%;
    height: 100%;
    border: 1px solid white;
    
}

.logga-outline-section {
  background-image: url(../main-images/logga-outline.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  height: 100px;
  width: 300px;
}



.hero-1-section {
    display: grid;
    place-items: center;
    place-content: center;
    height: 100%;
}

.hero-1-h1 {
    color: white;
    font-size: 60px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}


.back-to-top {
    margin-top: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
   
}

.back-to-top-a {
    align-self: flex-end;
    color:#2E533A;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    margin-top: 1%;
    padding: 3%;
    min-height: 100px;
    background-color: #102e4e;
    width: 100%;
    color: white;
    align-self:center;
}
