.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

button {
    background-color: var(--green-bg-color);
    color: var(--main-bg-color);
    padding: 0.5rem;
    border-radius: 4px;
    border: solid 1px transparent;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
    font-family: var(--regular-font), sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

button:hover {
    background-color: var(--main-bg-color);
    color: var(--green-bg-color);
    border: solid 1px var(--green-bg-color);
}

h2 {
    font-family: var(--title-font), sans-serif;
    font-weight: 500;
    padding: 2rem 0;
}

h3 {
    color: var(--blue-bg-color);
    font-weight: 500;
}

#till-salu .hero-1 {
    border: 0;
}

#sales-search {
    background: var(--blue-bg-color);
    color: #FFF;
}

#sales-search .container {
    padding: 4rem;
    padding-top: 2rem;
}

#sales-search .search-filter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

#sales-search input {
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    font-family: var(--regular-font), sans-serif;
}

.search-container {
    display: flex;
    gap: 2rem;
}

.search-container button {
    align-self: flex-start;
    padding: 1.25rem 4rem;
}

#sales-list {
    background-color: var(--second-bg-color);
    padding: 1rem 0;
}

#sales-list h2 {
    font-family: var(--title-font), sans-serif;
    font-weight: 500;
    color: var(--blue-bg-color);
}

h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: var(--green-bg-color);
    position: absolute;
    margin: 1rem auto;
}

#sales-list img {
    object-fit: cover;
    max-height: 230px;
    width: 100%;
}

#sales-list h3 span {
    font-family: var(--title-font), sans-serif;
    font-weight: 500;
}

#items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
    grid-auto-rows: 1fr;
}

#sales-list > div > div {
    display: flex;
    flex-direction: column;
}

.list-item-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-bg-color);
    height: 100%;
    font-family: var(--regular-font), sans-serif;
    font-weight: 300;
}

.list-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: self-end;
    width: 100%;
    margin-top: 1rem;
}

#contact-info {
    padding: 2rem 0;
}

#contact-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#contact-info .container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#contact-info .contact-text {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
}

#contact-info .contact-text p {
    line-height: 1.5rem;
    margin: 10px 0;
    font-family: var(--title-font), sans-serif;
}

form#contact-button {
    margin-top: 1rem;
    padding: 0.75rem 0;
    align-self: flex-end;
}


@media screen and ( max-width: 960px )  {
    
    #sales-search .container {
        padding: 2rem 1rem;
    }
    
    #sales-search input {
        font-size: 1rem;
        padding: 0.75rem;
        border-radius: 4px;
        width: 100%;
    }
    
    #sales-search button {
        padding: 0.75rem 2rem;
    }
    
    #items {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #contact-info .container {
        grid-template-columns: 1fr;
    }
    
    #contact-info .container img {
        max-height: 300px;
    }

    #contact-info .contact-text {
        align-items: center;
        text-align: center;
    }
}

@media screen and ( max-width: 768px )  {

    .search-container button {
        align-self: flex-end;
    }

    #items {
        grid-template-columns: repeat(1, 1fr);
    }

    #sales-search .search-filter {
        grid-template-columns: repeat(2, 1fr);
    }

    .search-container {
        flex-direction: column;
    }

    #contact-info .container .contact-text {
        padding: 1rem;
    }

    #contact-info .contact-text {
        align-items: flex-end;
        text-align: start;
    }
}