.container {
    max-width: 1024px;
    margin: 0 auto;
}

#sales-list {
    background-color: var(--second-bg-color);
    padding: 1rem 0;
}

#sales-list img {
    width: 100%;
}

#items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
    grid-auto-rows: 1fr;
}

#sales-list > div > div {
    display: flex;
    flex-direction: column;
}

.list-item-info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-bg-color);
    height: 100%;
    font-family: var(--regular-font);
    font-weight: 300;
}

.list-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: self-end;
    width: 100%;
    margin-top: 1rem;
}

button {
    background-color: var(--green-bg-color);
    color: var(--main-bg-color);
    padding: 0.5rem;
    border-radius: 4px;
}

h2 {
    font-family: var(--title-font);
    font-weight: 500;
    padding: 1rem 0;
}

h3 {
    color: var(--blue-bg-color);
    font-weight: 500;
}