

/* Media query */

/* Ipad Portrait */
@media only screen and (min-width: 768px) and (max-width: 960px) and (orientation: portrait) {
    

    #wrapper {
        display: flex;
        min-width: 768px;
        max-width: 960px;
        justify-content: center;
        
        
    }


    .hero-1 {
        background-size:cover;
        height:fit-content;
    }

    .navigation,
    .main,
    .article-1,
    .content,
    .end-section,
    .extra-box-mobil {
        display:none;
    }

    .main-ipad-portrait {
        display: grid;
        grid-template-areas: 
        "grid-box-1 grid-box-2"
        "grid-box-3 grid-box-4"
        ;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        min-height: 470px;
        grid-gap: 40px;
        margin: 8% auto;
        
    }

 .grid-box-1,
 .grid-box-2,
 .grid-box-3,
 .grid-box-4 {
    background-color: var(--blue-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
    width:100%;
    padding: 30px 10px 30px 30px;
 }    


 .grid-box-1 {
    grid-area: grid-box-1;
    
}

.grid-box-2 {
    grid-area: grid-box-2;
    
}

.grid-box-3 {
    grid-area: grid-box-3;
    
}

.grid-box-4 {
    grid-area: grid-box-4;
    
} 

.box-h2 {
    color: white;
    width: 100%;
    font-size: 27px;
    font-family: var(--title-font);
  
    
}

.box-p {
    color: white;
    width: 100%;
    margin-top: 4%;
    font-size: 25px;
    font-family: var(--regular-font);
}

.arrow1 {
    width: 100%;
    margin-left: 200px;
    padding: 10px;
    
    
 }

 .arrow2 {
   width: 100%;
   padding: 2% 8% 12% 80%;
 }

.content-media-ipad {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    min-height: 400px;
    width: 100%;
    margin: 8% auto;

}


  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 100%;
    min-height: 450px;
    gap: 1%;
    margin: 0 auto;
    
    
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 20px);
    max-width: calc(100% - 20px);  
    margin: 10px;
 
    
  }
  
  .column-1,
  .column-2 {
    background-color: var(--blue-bg-color);
    color: white;
    min-height: 100%;
    box-shadow: 10px 10px 5px rgb(230, 227, 227);
    
    
  }

  .column-1 {
    border-top-left-radius: 6px;
    background-image: url(../../main-images/object-1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .column-2 {
    background-image: url(../../main-images/object-2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size:contain;
  }


  

  .column-1-section,
  .column-2-section {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    
    
    
  }

  .ipad-div {
    height: 200px;
    background-color: var(--blue-bg-color);
  }

  .link-object {
    padding: 20px 20px 10px 10px;
   
  }

  .col-1-h2,
  .col-2-h2  {
    align-self: flex-start;
    padding: 20px 20px 15px 20px;
    font-family: var(--title-font);
    width: 100%;
  }

  .col-1-p,
  .col-2-p {
    font-size: 23px;
    font-family: var(--regular-font);
    padding: 0px 20px 20px 18px;
  }

  .article-grid-h2 {
    margin-left: 2%;
  }

}

@media only screen and (max-width: 767px) {


    #wrapper {
        display: block;
        width: 100vw;
        justify-content: center;
        
        
    }

    .hero-1 {
        background-size:cover;
        height:fit-content;
    }

    .hero-1-h1 {
        font-size: 23px;
    }

    .logga-outline-section {
        background-image: url(../../main-images/logga-outline.png);
        background-position: center;
        background-repeat: no-repeat;
        margin: 4% auto;
        height: 70px;
        width: 220px;
      }



    .navigation,
    .main,
    .article-1,
    .content,
    .end-section {
        display:none;
    }


    .main-ipad-portrait {
        display: block;
        height: fit-content;
    }


    .grid-box-1,
    .grid-box-2,
    .grid-box-3,
    .grid-box-4  {
       background-color: var(--blue-bg-color);
       color: white;
       margin: 3% auto;
       width: 90vw;
       height: 150px;
       padding: 30px 10px 30px 30px;
    } 
    
    .grid-box-1 {
        margin-top: 6%;
    }


    .extra-box-mobil {
        background-image: url(../../main-images/object-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 250px;
        width: 90vw;
        margin: 0 auto;
    }

    .grid-box-4 {
        margin-bottom: 3%;
    }

    
    .box-h2 {
        font-size: 24px;
        font-family: var(--title-font);
    }

    .box-p {
        font-size: 20px;
        display: inline;
        font-family: var(--regular-font);
    }

    .arrow1 {
        margin-left: 87%;
        margin-top: 2%;

    }

    
}
