/* @media (min-width: 1080px) { */
    .section {
        display: flex;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: auto auto auto auto;
        align-items: center;
    }

    .section--img-right {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        flex-direction: row-reverse;
    }

    .section--img-left {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-right: 10px;
        flex-direction: row;
    }

    .img-scale {
        width: 500px;
    }

    .text-section{
        padding: 10px;
    }

    .text-section > h2{
        font-size: 2.5em;   
    }

    .text-section > p{
        font-size: 1.5em;
    }

    .one-button{
        width:100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .one-btn-section{
        background-color: var(--second-bg-color);
    }

    /* Section with 3 boxes */
    .triple-box {
        display: grid;
        margin: 5% 5%;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-gap: 3%;
    }

    /* .tiny-box{

    } */

    .tiny-box > img {
        max-height: 400px;
    }

    #box {
        border: 1px solid black;
      
    }

    #box > p {
        padding: 5px;
    }

    h2{
        color: var(--blue-bg-color);
    }

    figure img {
        display: block;
        width: 100%;
    }

    img {
        height: 100%;
        border: 0;
    }

    /* Tablet */
    @media screen and ( max-width: 960px )  {
        
        .img-scale {
            width: 100%;
        } 

        .section--img-left {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 10px;
            flex-direction: column;
        }

        .section--img-right {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 10px;
            flex-direction: column;
        }

        .triple-box {
            display: grid;
            margin: 10% 5%;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-gap: 3%;
        }

        /* #box > figure > img {
            width: 100%;
            height: 100%;
        } */
    }
    
     
    /* Mobil */
    @media screen and ( max-width: 768px )  {
        .img-scale {
            width: 100%;
        } 

        .section--img-left {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 10px;
            flex-direction: column;
        }

        .section--img-right {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 10px;
            flex-direction: column;
        }

        .triple-box {
            display: grid;
            margin: 10% 5%;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            grid-gap: 3%;
        }

        .header {
            display: none;
        }

        .hero-1 {
            background-image: linear-gradient(rgba(41, 40, 40, 0.5), rgba(27, 27, 27, 0.5)), url(../main-images/hero-img.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            align-self: center;
            margin-top: 0px;
            width: 100%;
            height: fit-content;
            border: 1px solid white;
        }

        .hero-1-h1 {
            color: white;
            font-size: 40px;
            font-family: Tahoma, Geneva, Verdana, sans-serif;
        }
    }